*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    font-family: 'Vollkorn', serif; 
}
.landing {
   min-height: 100vh;
   background: url(./image.jpg);
   background-size: cover;
   padding: 0rem 5rem;
}
nav{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    min-height: 10vh;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    padding-left: 8rem;
    font-style: 1.2rem;
}
#logo{
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: lighter;
    font-size: 2rem;
    color: rgb(241, 176, 54);
}

.big-text{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: 'Love Ya Like A Sister', cursive;
    color: rgba(68, 146, 209, 0.952);
}

.intro {
    background: rgb(25, 40, 53);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    background: rgb(5, 78, 100);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-text{
    color: rgba(43, 156, 221, 0.788);
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}

.hide {
    background: rgb(25, 40, 53);
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}